/* Описываемое свойство имеет следующий синтаксис:
font-style font-weight font-size / line-height font-family
При этом порядок свойств имеет значение, и обязательными являются font-size и font-family. */
/* p {
	font-family: "Times New Roman";
	font-size: 13px;
	line-height: 20px;
} */
/* p {
font 13px/20px Times New Roman
} */
/* размер шрифта, семейство, жирность, курсив и межстрочный интервал. */
/* p {
	width: 300px;
	font-family: Arial;
	color: red;
	font-size: 40px;
	font-weight: bold;
} */

/* p {width: 300px;
font: bold 40px Arial; color: red;
} */
/* 
p {
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	text-indent: 50px;
	font-style: italic;
	line-height: 60px;
} */

p {
	text-indent: 50px; font: bold italic 40px/60px Arial
}

