
h1 {
	color: rgb(47, 16, 224);width: 500px; text-align: center
}

h2 {
	color: rgb(38, 96, 48);width: 500px; text-align: center
	; font-weight: normal; font-size: 30px;
}

p {
width: 500px; text-align: justify; text-indent: 25px;
}
i {
	color: green; font-weight: bold
}

ul {
	width: 400px; text-align: justify
	}
