<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>This is the title</title>
</head>

<body>
    <img src="q.jpg" width="300">
    <img src="q.jpg" width="150" height="200">
    <p> </p>
    ----------------------------------------

    <table border="1" width="300" height="100">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Salary</th>
        </tr>
        <tr>
            <td>John</td>
            <td>Smith</td>
            <td>200$</td>
        </tr>
        <tr>
            <td>Nick</td>
            <td>Mayers</td>
            <td>300$</td>
        </tr>
        <tr>
            <td>Alex</td>
            <td>Jonson</td>
            <td>400$</td>
        </tr>
    </table>
    ----------------------------------------
    <h1>Стишек</h1>
    <p>Уж нет пути, вокруг зияет <b>бездна</b>,</p>
    <p><b>Ты</b> сам того хотел, не безвозмездно,</p>
    <p><i>Смелее странник, здесь, или нигде,</i></p>
    <p>Погибнешь ты, подумав обеде.</p>
    <h2>Heading h2</h2>
    ----------------------------------------
    <h1>Стишек</h1>
    <h2>Стишек</h2>
    <h3>Стишек</h3>
    <ul>
        <li>text</li>
        <li>text</li>
    </ul>
    <ol>
        <li>text</li>
        <li>text</li>
        <li>text</li>
    </ol>
    <a href="https://dzen.ru/?yredirect=true&clid=2378388-20&win=672">
        <h1>Яндекс Браузер</h1>
        <a href="https://code.mu/">
            <h1>Code.mu</Code></h1>
        </a>


        <h1>Ниже связь с файлом page.html в той же папке</h1>
        <a href="page.html">link on page</a>

        <h1>Ниже связь с файлами 1.html, 2.html, 3.html в той же папке</h1>
        <ul>
            <li><a href="1.html">one</a></li>
            <li><a href="2.html">two</a></li>
            <li><a href="3.html">three</a></li>
        </ul>


</body>

</html>